<div id="account-modal">
	<div class="modal-title"><%= t('panel_modal_account_title') %></div>
	<div class="modal-subtitle">
		<p><%= t('panel_modal_account_subtitle_1') %></p>
		<p><%= t('panel_modal_account_subtitle_2') %></p>
	</div>
	<div class="modal-button-container">
		<button class="button account-dismiss create-account">
			<%= t('panel_modal_account_button_create_account') %>
		</button>
		<div class="links">
			<a class="account-dismiss sign-in"><%= t('panel_modal_account_button_sign_in') %></a>
			<a class="account-dismiss no-thanks"><%= t('panel_modal_account_button_maybe_later') %></a>
		</div>
		<div class="location-container">
		</div>
	</div>
</div>
