<div id="content-blocking">
	<div class="blocking-header flex align-middle align-justify">
		<div class="title"><%= t('blocking_trackers') %></div>
		<div class="flex-fill"></div>
		<div class="block-text"></div>
		<div class="header-checkbox">
			<svg width="20px" height="20px" viewbox="0 0 20 20">
				<g>
					<path class="border" d="M1,1 l18,0 l0,18 l-18,0 l0,-18"></path>
					<path class="background" d="M2,2 l16,0 l0,16 l-16,0 l0,-16"></path>
					<path class="dash" d="M5,10.5 15,10.5"></path>
					<polygon class="check" points="5.38461538 9.5 4 11 7.69230769 15 16 6.5 14.6153846 5 7.69230769 12"></polygon>
				</g>
			</svg>
		</div>
	</div>
	<div class="blocking-trackers show-warnings">
		<div class="scroll-content"></div>
		<div class="wrapper blocking-category"></div>
	</div>
</div>
