<div id="forgot-password-panel">
	<div class="row align-center">
		<div class="small-8 columns">
			<h4 id='forgot-password-message'>
				<%= t("forgot_password_message") %>
			</h4>
			<div id="forgot-email">
				<label for="forgot-input-email">
					<%= t('email_field_label') %><span class="asterisk">*</span>
					<input id="forgot-input-email" type="text" name="email" pattern=".{1,}" autocomplete="off" required>
				</label>
				<p class='invalid-email warning'>
					<%= t('invalid_email_forgot') %>
				</p>
				<p class="server-error warning">
					<%= t('error_email_forgot') %>
				</p>
			</div>
			<div class="buttons-container row">
				<div class="small-6 columns text-center">
					<a href="#/login" id='forgot-password-cancel' class="cancel button hollow">
						<%= t("button_cancel") %>
					</a>
				</div>
				<div class="small-6 columns text-center">
					<div id="send-button" class="button">
						<%= t("send_button_label") %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
