<div id="content-help">
	<h1><%= t('panel_help_panel_header') %></h1>
	<div class="support-section">
		<h3><%= t('panel_help_questions_header') %></h3>
		<a href="https://ghostery.zendesk.com/hc/"><%= t('panel_help_faq') %></a>
		<a href="https://www.ghostery.com/survey/in-app"><%= t('panel_help_feedback') %></a>
		<a href="https://ghostery.zendesk.com/hc/"><%= t('panel_help_support') %></a>
	</div>
	<div class="support-section">
		<h3><%= t('panel_help_contact_header')  %></h3>
		<a class="info" href="mailto:info@ghostery.com">info@ghostery.com</a>
	</div>
	<div class="support-section">
		<h3><%= t('panel_help_version_header', [data.browser, data.version]) %></h3>
		<a href="https://www.ghostery.com/about-ghostery/browser-extension-end-user-license-agreement/">
			<%= t('panel_help_license') %>
		</a>
		<a href="https://www.ghostery.com/about-ghostery/browser-extension-privacy-policy/">
			<%= t('panel_help_privacy_statement') %>
		</a>
		<a href="https://www.ghostery.com/">Ghostery.com</a>
	</div>
</div>
