<button class="modal-human-web-back" type="button"></button>
<div style="overflow:auto;height:340px">
	<p><%= t('panel_human_web_learn_more_p1') %></p>
	<p><%= t('panel_human_web_learn_more_p2') %></p>
	<p><%= t('panel_human_web_learn_more_p3') %></p>
	<p><%= t('panel_human_web_learn_more_p4') %></p>

	<ul><%= t('panel_modal_learn_more_list_title') %>
		<li><%= t('panel_modal_human_web_learn_more_bullet_1') %></li>
		<li><%= t('panel_modal_human_web_learn_more_bullet_2') %></li>
		<li><%= t('panel_modal_human_web_learn_more_bullet_3') %></li>
		<li><%= t('panel_modal_human_web_learn_more_bullet_4') %></li>
		<li><%= t('panel_modal_human_web_learn_more_bullet_5') %></li>
	</ul>
</div>
