<div class="modal-content-container">
	<div class="modal-title"><%= t('panel_modal_human_web_title') %></div>
	<p><%= t('panel_modal_human_web_p1') %></p>
	<p><b><%= t('panel_modal_human_web_p2') %></b></p>

	<div class="modal-button-container">
		<button class="button human-web-opt-in"><%= t('panel_modal_human_web_opt_in') %></button>
		<div class="links">
			<a class="human-web-opt-out"><%= t('panel_modal_human_web_opt_out') %></a>
		</div>
		<div class="location-container">
		</div>
	</div>
</div>
