<button class="modal-back" type="button"></button>
<div class="modal-subtitle"><%= t('panel_modal_learn_more_subtitle') %></div>
<ul><%= t('panel_modal_learn_more_list_title') %>
	<li><%= t('panel_modal_learn_more_bullet_1') %></li>
	<li><%= t('panel_modal_learn_more_bullet_2') %></li>
	<li><%= t('panel_modal_learn_more_bullet_3') %></li>
	<li><%= t('panel_modal_learn_more_bullet_4') %></li>
	<li><%= t('panel_modal_learn_more_bullet_5') %></li>
	<li><%= t('panel_modal_learn_more_bullet_6') %></li>
	<li><%= t('panel_modal_learn_more_bullet_7') %></li>
	<li><%= t('panel_modal_learn_more_bullet_8') %></li>
	<li><%= t('panel_modal_learn_more_bullet_9') %></li>
	<li><%= t('panel_modal_learn_more_bullet_10') %></li>
	<li><%= t('panel_modal_learn_more_bullet_11') %></li>
	<li><%= t('panel_modal_learn_more_bullet_12') %></li>
</ul>
<ul><%= t('panel_modal_learn_more_end') %></ul>
