<div id="metrics-modal">
	<div class="modal-title"><%= t('panel_modal_ghostrank_vc_header') %></div>
	<p><%= t('panel_modal_ghostrank_vc_p1') %></p>
	<p><%= t('panel_modal_ghostrank_vc_p2') %></p>
	<p><b><%= t('panel_modal_ghostrank_vc_p3') %></b></p>
	<div class="modal-button-container">
		<button class="button metrics-opt-in"><%= t('panel_modal_ghostrank_opt_in') %></button>
		<div class="links">
			<a class="metrics-opt-out"><%= t('panel_modal_ghostrank_opt_out') %></a>
		</div>
		<div class="location-container">
		</div>
	</div>
</div>
