<div id="content-settings">
	<div class="row collapse">
		<div class="fixed-width-left small-12 columns">
			<ul class="tabs vertical" id="settings-tabs" data-tabs data-match-height="true" data-auto-focus="true">
				<li class="tabs-title is-active">
					<a href="#settings-trackers" aria-selected="true"><span><%= t('settings_trackers') %> &amp; <%= t('settings_blocking') %></span></a>
				</li>
				<li class="tabs-title">
					<a href="#settings-purple-box"><span><%= t('settings_purple_box') %></span></a>
				</li>
				<li class="tabs-title">
					<a href="#settings-notifications"><span><%= t('settings_notifications') %></span></a>
				</li>
				<li class="tabs-title">
					<a href="#settings-support-ghostery"><span><%= t('settings_support_ghostery') %></span></a>
				</li>
				<li class="tabs-title">
					<a href="#settings-account"><span><%= t('settings_account') %></span></a>
				</li>
			</ul>
		</div>
		<div class="small-12 fixed-width-right columns">
			<div class="tabs-content vertical" data-tabs-content="settings-tabs">
				<!-- ............................ -->
				<!--	Trackers & Blocking panel -->
				<!-- ............................ -->
				<div class="tabs-panel is-active" id="settings-trackers">
					<h3><%= t('settings_trackers') %></h3>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-auto-update">
							<label id="settings-auto-update-label" for="settings-auto-update">
								<%= t('settings_auto_update') %>
							</label>
							<div class="checkbox-label">
								<span id="last-updated-span"><%= t('settings_last_update')%></span>&nbsp<span id="last-updated-span-value"></span>
								<span id="update-now-span" class="blue-header"><%= t('settings_update_now') %></span>
							</div>
						</div>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-show-patterns">
							<label id="settings-show-patterns-label" for="settings-show-patterns"><span><%= t('settings_show_patterns') %></span></label><img src='../../app/images/panel/question.svg' data-tooltip data-template-classes="settings-tooltip" class="question has-tip" title="<%= t('settings_show_patterns_tooltip') %>">
						</div>
					</div>
					<h5><%= t('settings_highlight_trackers') %></h5>
					<img  src='../../app/images/panel/question.svg' data-tooltip title="<%= t('settings_highlight_trackers_tooltip') %>"
							data-template-classes="settings-tooltip click-to-play-img" class="question has-tip">
					<div class="option-group">
					   <div class="suboption square-checkbox">
							<input type="checkbox" id="settings-enable-click2play">
							<label id="settings-enable-click2play-label" for="settings-enable-click2play">
								<%= t('settings_required_trackers') %>
							</label>
						</div>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-replace-social">
							<label id="settings-replace-social-label" for="settings-replace-social"><%= t('settings_replace_social') %></label>
						</div>
					</div>
					<h3><%= t('settings_blocking') %></h3>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-individual-trackers">
							<label id="settings-individual-trackers-label" for="settings-individual-trackers">
								<span><%= t('settings_individual_trackers') %></span>
							</label><img src='../../app/images/panel/question.svg' data-tooltip data-template-classes="settings-tooltip" class="question has-tip" title="<%= t('settings_individual_trackers_tooltip') %>">
						</div>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-allow-trackers">
							<label id="settings-allow-trackers-label" for="settings-allow-trackers"><span><%= t('settings_allow_trackers') %></span></label><img src='../../app/images/panel/question.svg' data-tooltip data-template-classes="settings-tooltip" class="question has-tip" title="<%= t('settings_allow_trackers_tooltip') %>">
						</div>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-block-trackers">
							<label id="settings-block-trackers-label" for="settings-block-trackers">
								<%= t('settings_block_trackers') %>
							</label>
						</div>
					</div>
				</div>
				<!-- ...................... -->
				<!--	Purple box panel  	-->
				<!-- ...................... -->
				<div class="tabs-panel" id="settings-purple-box">
					<h3><%= t('settings_purple_box') %></h3>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-show-purple-box">
							<label id="settings-show-purple-box-label" for="settings-show-purple-box"><span><%= t('settings_show_purple_box') %></span></label>
							<img src='../../app/images/panel/question.svg' data-tooltip data-template-classes="settings-tooltip" class="question has-tip" title="<%= t('settings_show_purple_box_tooltip') %>">
						</div>
					</div>
					<div class="alert-bubble-options dismiss-after-wrap">
						<div>
							<%= t('settings_dismiss_after') %>&colon;
						</div>
						<select id="settings-dismiss-after">
							<option value="0">
								<%= t('settings_never') %>
							</option>
							<option value="3">
								3 <%= t('settings_seconds') %>
							</option>
							<option value="5">
								5 <%= t('settings_seconds') %>
							</option>
							<option value="10">
								10 <%= t('settings_seconds') %>
							</option>
							<option value="15">
								15 <%= t('settings_seconds') %>
							</option>
							<option value="30">
								30 <%= t('settings_seconds') %>
							</option>
						</select>
					</div>
					<div class="alert-bubble-options display-in-wrap">
						<div>
							<%= t('settings_display_in') %>&colon;
						</div>
						<select id="settings-display-in">
							<option value="br">
								<%= t('settings_bottom_right_corner') %>
							</option>
							<option value="bl">
								<%= t('settings_bottom_left_corner') %>
							</option>
							<option value="tr">
								<%= t('settings_top_right_corner') %>
							</option>
							<option value="tl">
								<%= t('settings_top_left_corner') %>
							</option>
						</select>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-hide-alert-trusted">
							<label id="settings-hide-alert-trusted-label" for="settings-hide-alert-trusted"><span><%= t('settings_hide_alert_trusted') %></span></label>
						</div>
					</div>
				</div>
				<!-- ...................... -->
				<!--	Notification panel  -->
				<!-- ...................... -->
				<div class="tabs-panel" id="settings-notifications">
					<h3><%= t('settings_notifications') %></h3>
					<h5><%= t('settings_notify_me') %></h5><img src='../../app/images/panel/question.svg' data-tooltip data-template-classes="settings-tooltip" class="question has-tip" title="<%= t('settings_notify_me_tooltip') %>">
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-announcements">
							<label id="settings-announcements-label" for="settings-announcements"><%= t('settings_announcements') %></label>
						</div>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-new-features">
							<label id="settings-new-features-label" for="settings-new-features"><%= t('settings_new_features') %></label>
						</div>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-defect-fixes">
							<label id="settings-defect-fixes-label" for="settings-defect-fixes"><%= t('settings_defect_fixes') %></label>
						</div>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-new-trackers">
							<label id="settings-new-trackers-label" for="settings-new-trackers"><%= t('settings_new_trackers') %></label>
						</div>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-show-reload-banner">
							<label id="settings-show-reload-banner-label" for="settings-show-reload-banner"><%= t('settings_show_reload_banner') %></label>
						</div>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-show-trackers-banner">
							<label id="settings-show-trackers-banner-label" for="settings-show-trackers-banner"><%= t('settings_show_trackers_banner') %></label>
						</div>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-show-count-badge">
							<label id="settings-show-count-badge-label" for="settings-show-count-badge"><%= t('settings_show_tracker_count_badge') %></label>
						</div>
					</div>
				</div>
				<!-- ................. -->
				<!--	Support panel  -->
				<!-- ................. -->
				<div class="tabs-panel" id="settings-support-ghostery">
					<h3><%= t('settings_support_ghostery') %></h3>
					<h5><%= t('settings_support_ghostery_by') %>&colon;</h5>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-share-data">
							<label id="settings-share-data-label" for="settings-share-data">
								<span><%= t('settings_share_data') %></span>
							</label><img src='../../app/images/panel/question.svg' data-tooltip data-template-classes="settings-tooltip" class="question has-tip" title="<%= t('settings_share_data_tooltip') %>">
						</div>
					</div>
					<div class="option-group">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-share-usage">
							<label id="settings-share-usage-label" for="settings-share-usage">
								<span><%= t('settings_share_usage') %></span>
							</label><img src='../../app/images/panel/question.svg' data-tooltip data-template-classes="settings-tooltip" class="question has-tip" title="<%= t('settings_share_usage_tooltip') %>">
						</div>
					</div>
					<div class="option-group" id="human-web-section">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-share-human-web">
							<label id="settings-share-human-web-label" for="settings-share-human-web">
								<span><%= t('settings_share_human_web') %></span>
							</label><img src='../../app/images/panel/question.svg' data-tooltip data-template-classes="settings-tooltip" class="question has-tip" title="<%= t('settings_human_web_tooltip') %>">
						</div>
					</div>
					<div class="option-group" id="offers-section">
						<div class="suboption square-checkbox">
							<input type="checkbox" id="settings-allow-offers">
							<label id="settings-allow-offers-label" for="settings-allow-offers">
								<span><%= t('settings_allow_offers') %></span>
							</label><img src='../../app/images/panel/question.svg' data-tooltip data-template-classes="settings-tooltip" class="question has-tip" title="<%= t('settings_offers_tooltip') %>">
						</div>
					</div>
				</div>
				<!-- ................. -->
				<!--	Account panel  -->
				<!-- ................. -->
				<div class="tabs-panel" id="settings-account">
					<h3><%= t('settings_account') %></h3>
					<div id="settings-account-not-signed">
						<p class="blue-header signin-create"><%= t('settings_signin_create_header') %></p>
						<p><%= t('settings_sign_create_text') %></p>
						<div class="vgap-46"></div>
					</div>
					<div id="settings-account-signed">
						<div class="vgap-22"></div>
						<h5 id="settings-account-name"><%= t('settings_account_name') %>:  <span></span></h5>
						<div class="vgap-4"></div>
						<h5 id="settings-account-email"><%= t('settings_account_email') %>: <span></span></h5>
						<div class="vgap-4"></div>
						<p class="blue-header edit-account"><%= t('settings_edit_account') %></p>
						<div class="vgap-26"></div>
					</div>
					<div id="import-export">
						<p class="blue-header export"><%= t('settings_export_header') %></p>
						<p class="regular"><%= t('settings_export_text') %></p>
						<p class="regular export-result"></p>
						<div class="vgap-20"></div>
						<p class="blue-header import"><%= t('settings_import_header') %></p>
						<p class="regular"><%= t('settings_import_text') %></p>
						<p class="regular"><%= t('settings_import_warning') %></p>
						<p class="regular import-result"></p>
						<input type="file" id="select-file" name="select-file"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

